@import "bonjourparis/normalize";
@import "bonjourparis/mixins";
@import "bonjourparis/grid";
@import "bonjourparis/colors";
@import "bonjourparis/fonts";

*,
*:after,
*:before {
  @include box-sizing(border-box);
  // Color change transition
  @include transition(color 100ms linear, background-color 100ms linear);
}
i, i:after, i:before {
  // Transition fix for glyph icons
  @include transition(none);
}

* img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 20px;
}

body {
  background-color: $bg-color;
  font-family: $font-sans;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, strong {
  font-family: $font-sans;
  color: $black;
}

$transition-speed: .5s;

@import "bonjourparis/includes/header";
@import "bonjourparis/includes/footer";
@import "bonjourparis/includes/global";
@import "bonjourparis/includes/panel";
@import "bonjourparis/includes/home";
@import "bonjourparis/includes/catalog";
@import "bonjourparis/includes/product";
@import "bonjourparis/includes/stores";
@import "bonjourparis/includes/form";
@import "bonjourparis/includes/login";
@import "bonjourparis/includes/cart";
@import "bonjourparis/includes/create-account";
@import "bonjourparis/includes/navigation";
@import "bonjourparis/includes/personal-info";
@import "bonjourparis/includes/address-list";
@import "bonjourparis/includes/history";
@import "bonjourparis/includes/viewed-by";
@import "bonjourparis/includes/template-star";
