@import "includes/normalize";
@import "includes/mixins";
@import "includes/grid";
@import "includes/colors";
@import "includes/fonts";

*,
*:after,
*:before {
  @include box-sizing(border-box);
  // Color change transition
  @include transition(color 100ms linear, background-color 100ms linear);
}
i, i:after, i:before {
  // Transition fix for glyph icons
  @include transition(none);
}

* img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 20px;
}

body {
  background-color: $bg-color;
  font-family: $font-sans;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, strong {
  font-family: $font-sans;
  color: $black;
}

$transition-speed: .5s;
