// Footer

.footer-container {
	clear: both;
	width: 100%;
	max-width: none;
	padding: 0;
	margin: 0;
	a.instagram-link-banner {
		display: block;
		width: 100%;
		height: auto;
		padding: 1rem;
		background-color: $lighter-pink;
		text-align: center;
		@include title-serifs();
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: $black;
		transition: color $transition-speed linear;
		strong {
			@include title-serifs();
			text-transform: none;
			font-size: 1.25rem;
			line-height: 1.75rem;
			color: $black;
		}
		&:hover {
			text-decoration: none;
			color: darken($grey, 30%);
			strong {
				color: darken($grey, 30%);
			}
		}
		@media screen and (max-width: 550px) {
			padding: 1.5rem 1.5rem 2rem;
			text-transform: none;
		}
	}
	.instagram-footer-field {
		width: 100%;
		height: 14rem;
		overflow: hidden;
		cursor: grab !important;
		@media screen and (max-width: 1024px) {
			height: 8rem;
		}
		.photos-container {
			white-space: nowrap;
			font-size: 0;
			.photo {
				display: inline-block;
				width: 14rem;
				height: 14rem;
				position: relative;
				@media screen and (max-width: 1024px) {
					width: 8rem;
					height: 8rem;
				}
				a {
					display: block;
				}
				img {
					display: block;
				}
				&:after {
					content: "";
					display: none,;
					position: absolute;
					width: 22px;
					height: 23px;
					right: .5rem;
					bottom: .2rem;
					background: url(../images/bonjourparis/icon_instagram.png) no-repeat center center;
				}
			}
		}
	}
	.footer {
		background: $footer-pink;
		border: none;
		padding: 3rem 1rem;
		font-size: 0;
		text-align: center;
		@media screen and (max-width: 1024px) {
			height: 18rem;
			padding: 0;
			position: relative;
		}
		@media screen and (max-width: 550px) {
			height: 24rem;
			overflow: hidden;
		}
		.footer-links {
			width: 10rem;
			margin: 0 0;
			padding: 0 .5rem;
			display: inline-block;
			vertical-align: top;
			@media screen and (max-width: 1024px) {
				display: block;
				padding: 0;
				width: 100vw;
				padding: 0 1rem;
				position: absolute;
				bottom: 3rem;
				text-align: center;
				&:last-of-type {
					bottom: 1.5rem;
				}
			}
			@media screen and (max-width: 550px) {
				width: 50%;
				bottom: 0;
				padding: 1rem;
				background: white;
				&:last-of-type {
					bottom: 0;
					right: 0;
				}
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					text-align: center;
					display: block;
					margin: .5rem 0;
					@media screen and (max-width: 1024px) {
						display: inline-block;
						width: 7rem;
						vertical-align: middle;
					}
					a {
						display: block;
						@include body();
						color: $grey;
					}
				}
			}
		}
		.block-subscribe {
			float: none;
			width: 20rem;
			margin: 0 5rem;
			display: inline-block;
			vertical-align: top;
			@media screen and (max-width: 1024px) {
				margin-top: 1rem;
			}
			@media screen and (max-width: 550px) {
				width: 100%;
				margin: 1rem auto 0;
				padding: 0 1rem;
			}
			.disclaimer {
				font-size: .7rem;
				line-height: 1rem;
				font-family: $font-sans;
				font-weight: 200;
				letter-spacing: .02em;
				color: $black;
				margin: .5rem 0 1rem;
				text-align: center;
				text-transform: none;
			}
			.input-container {
				position: relative;
				margin-bottom: 1.5rem;
				.input-text {
					width: 100%;
					height: 2rem;
					border: none;
					padding: .25rem 3.5rem .25rem .5rem;
					font-family: $font-sans;
					line-height: 1.5rem;
					color: $grey;
					font-weight: 200;
					letter-spacing: .02em;
				}
				.button {
					position: absolute;
					right: 0;
					top: 0;
					width: 3rem;
					height: 2rem;
					padding: 0;
					background: $black;
					color: $white;
					font-size: .7rem;
					font-weight: 300;
					line-height: 2rem;
				}
				.validation-advice {
					text-transform: none;
					font-family: $font-sans;
					font-size: .7rem;
					line-height: 1rem;
					letter-spacing: .02em;
				}
			}
			.social-media {
				@media screen and (max-width: 1024px) {
					.disclaimer {
						margin-bottom: .5rem;
					}
				}
				.links {
					width: 100%;
					margin: 0;
					padding: 0;
					.link {
						display: inline-block;
						vertical-align: middle;
						margin: 0 .75rem;
					}
				}
			}
		}
	}
	.subfooter {
		width: 100%;
		height: 3rem;
		padding: 1rem;
		text-align: center;
		font-family: $font-sans;
		font-size: .7rem;
		line-height: 1rem;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: $grey;
		background-color: $white;
		.copyright {

		}
	}
}
