.footer-page {
  padding: 0 8.33%;
  margin-bottom: 2rem;
  position: relative;
  @media screen and (max-width: 550px) {
    padding: 0 .5rem;
    margin-bottom: 0;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .page-title {
    margin-bottom: 1rem;
    @media screen and (max-width: 550px) {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: .5rem auto 1rem;
      position: absolute;
      background: $white;
      width: 100%;
      left: -100vw;
      transition: left $transition-speed / 2 ease-out;
    }
  }
  .print.button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include body();
    text-transform: none;
    font-size: .6rem;
    line-height: 1rem;
    height: auto;
    background: url(../images/bonjourparis/icon_print.svg) no-repeat .5rem center;
    background-size: 1rem .75rem;
    padding-left: 2rem;
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  .menu {
    float: left;
    width: 25%;
    padding: 0 .5rem;
    @media screen and (max-width: 550px) {
      float: none;
      width: 100%;
      padding: 0;
      position: absolute;
      left: -100vw;
      top: 4rem;
      bottom: 0;
      background: $white;
      transition: left $transition-speed / 2 ease-out;
      overflow: auto;
    }
    .link {
      display: block;
      padding: 1rem .5rem;
      cursor: pointer;
      @include headline();
      font-size: .7rem;
      line-height: 1rem;
      color: $black;
      &:hover, &.active {
        text-decoration: none;
        background: #ffefef;
      }
      @media screen and (max-width: 550px) {
        font-size: .6rem;
        padding-left: 1rem;
        padding-right: 2.5rem;
        background: url(../images/bonjourparis/icon_arrow_right.svg) no-repeat right 1rem center;
        background-size: 8px 14px;
      }
    }
  }
  .content {
    margin-left: 33.33%;
    padding: 1rem .5rem;
    @media screen and (max-width: 550px) {
      min-height: 90vh;
      margin-left: 0;
      transition: transform $transition-speed / 2 ease-out;
      .open-menu {
        float: left;
        width: 1rem;
        height: 1rem;
        background: url(../images/bonjourparis/icon_arrow_left.svg) no-repeat center center;
        background-size: 8px 14px;
      }
    }
    h3 {
      @include headline();
      font-size: .7rem;
      line-height: 1rem;
      margin: 0 0 1rem;
      @media screen and (max-width: 550px) {
        text-align: center;
      }
    }
    h4 {
      @include headline();
      font-size: .7rem;
      line-height: 1rem;
      margin: 0;
    }
    p {
      @include body();
      margin: 0 0 1rem;
    }
  }
  @media screen and (max-width: 550px) {
    &.menu-open {
      .page-title {
        left: 0;
      }
      .menu {
        left: 0;
      }
      .content {
        transform: translateX(100%);
      }
    }
  }
}
