// Header
.header-language-background {
  background-color: transparent;
  position: fixed;
  left: 1rem;
  top: 1rem;
  height: 1rem;
  width: 3rem;
  padding: 0;
  z-index: 2000;
  .switcher-holder {
    float: right;
    display: block;
    width: .8rem;
    height: .7rem;
    background: url(../images/bonjourparis/icon_arrow_down.png) no-repeat center center;
    @include hide-text();
    cursor: pointer;
    .switcher {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .selected, .language {
    display: block;
    margin-right: .8rem;
    font-family: $font-sans;
    font-size: .55rem;
    letter-spacing: .04em;
    line-height: .8rem;
    font-weight: 200;
    color: $black;
    text-align: right;
  }
  .language-select {
    clear: both;
    margin: 0;
    padding: 0;
    .language {
      &.current {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.page-header {
  width: 100%;
  height: 6rem;
  max-width: none;
  margin: 0;
  padding: 0;
  background-color: $white;
  border-bottom: 1px solid $pink;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color .5s linear;
  @media screen and (max-width: 1024px) {
    width: 100vw;
    height: 2.5rem;
    border: none;
    background-color: $white;
  }
  .page-header-container {
    position: static;
    position: relative;
  }
  .logo {
    display: block;
    float: none;
    padding: 0;
    margin: 0 auto;
    @include hide-text();
    background: url(../images/bonjourparis/header_logo.png) no-repeat center center;
    width: 180px;
    min-height: 4rem;
    height: 4rem;
    &:hover {
      opacity: 1;
    }
    @media screen and (max-width: 1024px) {
      background-image: url(../images/bonjourparis/header_logo_tablet.png);
      background-size: 100% auto;
      width: 236px;
      min-height: 0;
      height: 2.5rem;
    }
    @media screen and (max-width: 550px) {
      background-image: url(../images/bonjourparis/header_logo_mobile.png);
      width: 107px;
      margin: 0 0 0 3.5rem;
    }
  }
  .open-menu {
    display: none;
    position: relative;
    background-color: white;
    text-align: center;
    .label {
      @include headline();
      font-weight: 500;
      line-height: 1rem !important;
      color: $black;
      opacity: 0;
      transition: opacity $transition-speed linear;
      pointer-events: none;
      white-space: nowrap;
    }
    .burger-icon, .arrow-icon, .close-icon {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity $transition-speed linear;
      pointer-events: none;
    }
    .burger-icon {
      background: url(../images/bonjourparis/icon_burger_tablet.png) no-repeat center center;
      background-size: 20px 12px;
      left: 0;
    }
    .arrow-icon {
      background: url(../images/bonjourparis/icon_arrow_left.png) no-repeat center center;
      background-size: 8px 14px;
      right: 0;
    }
    .close-icon {
      background: url(../images/bonjourparis/icon_close.png) no-repeat center center;
      background-size: 13.5px 14px;
      left: 0;
    }
    @media screen and (max-width: 1024px) {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      .burger-icon { opacity: 1; pointer-events: all; }
      .close-icon  { opacity: 0; }
      .arrow-icon  { opacity: 0; }
      &.open {
        .burger-icon { opacity: 0; pointer-events: none; }
        .close-icon  { opacity: 1; pointer-events: all; }
        .arrow-icon  { opacity: 0; pointer-events: none; }
      }
      &.open.deep {
        .burger-icon { opacity: 0; pointer-events: none; }
        .close-icon  { opacity: 0; pointer-events: none; }
        .arrow-icon  { opacity: 1; pointer-events: all; }
      }
    }
    @media screen and (max-width: 550px) {
      transition: width $transition-speed ease-in-out;
      padding: .75rem;
      .burger-icon { opacity: 1; pointer-events: all; }
      .close-icon  { opacity: 0; right: 0; left: auto; }
      .arrow-icon  { opacity: 0; right: auto; left: 0; }
      &.open {
        width: 100vw;
        .label       { opacity: 1; }
        .burger-icon { opacity: 0; pointer-events: none; }
        .close-icon  { opacity: 1; pointer-events: all; }
        .arrow-icon  { opacity: 0; pointer-events: none; }
      }
      &.open.deep {
        .burger-icon { opacity: 0; pointer-events: none; }
        .close-icon  { opacity: 1; pointer-events: all; }
        .arrow-icon  { opacity: 1; pointer-events: all; }
      }
    }
  }
  .account-cart-wrapper {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 1rem;
    @media screen and (max-width: 1024px) {
      top: .5rem;
      height: 1.5rem;
      .header-minicart {
        display: inline-block;
      }
    }
  }
  .skip-account, .skip-cart, .stores-link, .search-link {
    padding: 0;
    width: 1rem;
    height: 1rem;
    @include hide-text();
    margin-left: .5rem;
    @media screen and (max-width: 1024px) {
      display: inline-block;
      vertical-align: top;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .search-link {
    background: url(../images/bonjourparis/icon_search_tablet.png) no-repeat center center;
    background-size: 20px 20px;
    display: none;
    @media screen and (max-width: 1024px) {
      display: inline-block;
    }
  }
  .stores-link {
    background: url(../images/bonjourparis/icon_store_tablet.png) no-repeat center center;
    background-size: 18.5px 20px;
    display: none;
    @media screen and (max-width: 1024px) {
      display: inline-block;
    }
  }
  .skip-account {
    background: url(../images/bonjourparis/icon_user.png) no-repeat center center;
    @media screen and (max-width: 1024px) {
      background-image: url(../images/bonjourparis/icon_user_tablet.png);
      background-size: 18px 20px;
    }
  }
  .skip-cart {
    float: left;
    background: url(../images/bonjourparis/icon_basket.png) no-repeat center center;
    @media screen and (max-width: 1024px) {
      background-image: url(../images/bonjourparis/icon_basket_tablet.png);
      background-size: 15px 20px;
    }
  }
  .header-bottom {
    text-align: center;
    @media screen and (max-width: 1024px) {
      text-align: left;
    }
  }
  #header-nav {
    display: inline-block;
    border-bottom: none;
    height: 2rem;
    margin: 0 1rem 0;
    @media screen and (max-width: 1024px) {
      display: block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
    }
    .overlay {
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
        position: fixed;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .7);
        pointer-events: none;
        opacity: 0;
        transition: opacity $transition-speed linear;
        z-index: -20;
      }
    }
    @media screen and (max-width: 1024px) {
      &.open {
        .overlay.level0 {
          opacity: 1;
          pointer-events: all;
        }
        ul#nav {
          left: 0;
        }
      }
      &.subnav-open ul#nav > li > a {
        opacity: .5;
        transform: translateX(-185px);
      }
    }
    @media screen and (max-width: 550px) {
      &.subnav-open ul#nav > li > a {
        transform: translateX(-50vw)
      }
    }
    ul#nav {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 0;
      @media screen and (max-width: 1024px) {
        position: absolute;
        top: 2.5rem;
        left: -370px;
        width: 370px;
        height: 100vh;
        padding-bottom: 2.5rem;
        text-align: left;
        font-size: inherit;
        overflow: hidden;
        transition: left $transition-speed ease-in-out;
        background: $white;
      }
      @media screen and (max-width: 550px) {
        width: 100vw;
        left: -100vw;
        overflow: auto;
      }
      > li {
        margin: 0 .5rem;
        display: inline-block;
        position: relative;
        @media screen and (max-width: 1120px) {
          margin: 0 .25rem;
        }
        @media screen and (max-width: 1048px) {
          margin: 0 .1rem;
        }
        @media screen and (max-width: 1024px) {
          display: block;
          height: 5rem;
          width: 100%;
          background: $white;
          margin: 0;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 100%;
          height: 2px;
          opacity: 0;
          background: $pink;
          transition: opacity linear .2s;
          @media screen and (max-width: 1024px) {
            bottom: 0;
            height: 1px;
            background: rgba(#f6dedc, .4);
            transition: none;
            opacity: 1;
          }
        }
        &:hover:after {
          opacity: 1;
        }
      }
      > li > a {
        display: block;
        font-family: $font-sans;
        font-weight: 200;
        font-size: .6rem;
        line-height: 1.5rem;
        letter-spacing: .08em;
        text-transform: uppercase;
        padding: 0 .5rem .5rem;
        color: $black;
        transition: opacity $transition-speed linear;
        &:hover {
          text-decoration: none;
        }
        @media screen and (max-width: 1024px) {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          transition: transform $transition-speed ease-in-out;
        }
      }
      > li > a > span {
        @media screen and (max-width: 1024px) {
          display: block;
          width: 50%;
          height: 100%;
          margin-left: 50%;
          padding: 2rem .5rem;
          font-size: .65rem;
          line-height: 1rem;
          letter-spacing: .04em;
          position: relative;
          br {
            display: none;          }
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 43px;
              right: 1rem;
              width: 7px;
              height: 14px;
              background: url(../images/bonjourparis/icon_arrow_right.png) no-repeat center center;
              background-size: 100% auto;
            }
          }
        }
        > li > a >.menu-photo {
          display: none;
          @media screen and (max-width: 1024px) {
            display: block;
            float: left;
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: center center;
          }
        }
      }
      @media screen and (min-width: 1001px) {
        #nav > li.active {
          > .subnav {
            .columns {
              max-height: 20rem;
            }
            &:after {
              top: 100%;
              opacity: .5;
            }
          }
        }
      }
      #nav > li > .subnav {
        position: fixed;
        left: 0;
        right: 0;
        top: 6rem;
        width: 100%;
        height: auto;
        padding: 0;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 20rem;
          background: linear-gradient($gradient-pink, transparent);
          transition: opacity $transition-speed linear, top $transition-speed ease-in-out;
          opacity: 0;
          z-index: -100;
          pointer-events: none;
        }
        @media screen and (max-width: 1024px) {
          position: absolute;
          left: auto;
          right: -370px;
          top: 0;
          width: 370px;
          height: auto;
          text-align: left;
          font-size: inherit;
          overflow: auto;
          transition: right $transition-speed ease-in-out;
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 65px;
            height: 100%;
            background: rgba(255, 255, 255, .7);
          }
          &:after {
            display: none;
          }
          &.open {
            right: 0;
          }
        }
        @media screen and (max-width: 550px) {
          width: 100vw;
          right: -100vw;
          z-index: 200;
          &:before {
            display: none;
          }
          &.open {
            left: auto;
            right: 0;
          }
        }
        .columns {
          width: 100%;
          height: auto;
          max-height: 0;
          padding: 0 .5rem;
          background: $white;
          text-align: center;
          font-size: 0;
          overflow: hidden;
          transition: max-height $transition-speed ease-in-out;
          @media screen and (max-width: 1024px) {
            max-height: none;
            padding: 0;
            text-align: left;
            font-size: inherit;
            position: relative;
            z-index: 200;
            min-height: 100vh;
            padding-bottom: 2.5rem;
            background: white;
          }
        }
        .column {
          display: inline-block;
          width: 9rem;
          margin: 2rem .5rem;
          vertical-align: top;
          text-align: left;
          @media screen and (max-width: 1024px) {
            display: block;
            height: auto;
            width: 100%;
            background: $white;
            margin: 0;
          }
          .column-title {
            font-family: $font-serifs;
            font-size: 1.25rem;
            line-height: 1rem;
            margin-bottom: 1rem;
            letter-spacing: .04em;
            font-weight: normal;
            position: relative;
            .column-title-photo {
              display: none;
            }
            @media screen and (max-width: 1024px) {
              margin: 0;
              width: 100%;
              height: 5rem;
              &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 0;
                height: 1px;
                background: rgba(#f6dedc, .4);
                transition: none;
                opacity: 1;
              }
              a {
                display: block;
                width: 100%;
                height: 100%;
                .column-title-photo {
                  display: block;
                  float: left;
                  width: 50%;
                  height: 100%;
                  background-size: cover;
                  background-position: center center;
                }
                .text {
                  display: block;
                  width: 50%;
                  height: 100%;
                  margin-left: 50%;
                  padding: 2rem .5rem;
                  @include headline();
                  font-size: .65rem;
                  line-height: 1rem !important;
                  font-weight: 200;
                  position: relative;
                  br {
                    display: none;
                  }
                  &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 43px;
                    right: 1rem;
                    width: 7px;
                    height: 14px;
                    background: url(../images/bonjourparis/icon_arrow_right.png) no-repeat center center;
                    background-size: 100% auto;
                  }
                }
              }
            }
            a {
              color: $black;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .column-links {
            margin: 0;
            padding: 0;
            list-style: none;
            .column-link {
              font-family: $font-sans;
              font-size: .7rem;
              line-height: 1rem;
              font-weight: 200;
              letter-spacing: .04em;
              @media screen and (max-width: 1024px) {
                display: none;
              }
              a {
                color: $black;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        .column.photo {
          width: 19rem;
          img {
            max-width: 100%;
            height: auto;
          }
          .caption {
            font-family: $font-sans;
            font-size: .7rem;
            line-height: 1rem;
            font-weight: 200;
            letter-spacing: .02em
          }
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
    #nav .responsive-menu-footer {
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 3rem;
        ul {
          margin: 0;
          padding: 1rem;
          li {
            a {
              @include body();
              font-size: .65rem;
              color: $light-grey;
              &:hover {
                color: $grey;
                text-decoration: none;
              }
            }
          }
        }
      }
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
    #header-search {
      display: inline-block;
      position: static;
      width: 120px;
      height: 2rem;
      @media screen and (max-width: 1024px) {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100vw;
        height: 2.5rem;
        top: -2.5rem;
        padding-right: 2.5rem;
        background: $concrete;
        overflow: hidden;
        pointer-events: none;
        transition: top $transition-speed / 2 linear;
        padding: 0;
        &.visible {
          pointer-events: all;
          top: 0;
        }
        .input-box {
          margin: auto;
          position: absolute;
          bottom: .5rem;
          left: .5rem;
          right: 3rem;
        }
      }
      .mobile-close {
        display: none;
        @media screen and (max-width: 1024px) {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          width: 2.5rem;
          height: 2.5rem;
          background: $white url(../images/bonjourparis/icon_close.png) no-repeat center center;
          background-size: .7rem .7rem;
        }
      }
      #search {
        box-sizing: border-box;
        height: 1.2rem;
        margin: 3px 0 0;
        padding-right: 20px;
        border: 1px solid rgba(34, 34, 34, .1);
        border-radius: 3px;
        font-family: $font-sans;
        font-size: .6rem;
        font-weight: 200;
        color: $black;
        line-height: 1.1rem;
        text-transform: uppercase;
        background-color: transparent;
        @media screen and (max-width: 1024px) {
          height: 1.5rem;
          margin: 0;
          border: none;
          text-transform: none;
          outline: none;
        }
      }
      .search-button {
        padding: 0;
        width: 1.1rem;
        height: 1.1rem;
        top: 4px;
        right: 1px;
        background: url(../images/bonjourparis/icon_search.png) no-repeat center center;
        &:before {
          display: none;
        }
        @media screen and (max-width: 1024px) {
          background: transparent url(../images/bonjourparis/icon_search_tablet.png) no-repeat right center;
          background-size: 1rem 1rem;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
