.customer-account {
  .button-nav-mobile {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 25px;
    display: none;
    z-index: 100;
    img {
      width: 25px;
    }

    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  .main-container {
    @media screen and (max-width: 750px) {
      padding: 15px 0;
    }
  }

  .col-left {
    width: 280px;
    margin-top: 70px;

    &.col-left-first {
      @media screen and (max-width: 750px) {
        position: absolute;;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        background-color: $white;
        z-index: 100;
        margin-top: 0;
        transition: all $transition-speed ease;
      }
      &.open-nav {
        left: 0;
      }

      .block-account, .block {

        @media screen and (max-width: 750px) {
          border: none;
          padding: 0;
        }

        .block-content {
          @media screen and (max-width: 750px) {
            border: none;
            padding: 0;
          }
        }
      }
    }

    .nav {
      padding: 0;
      @include headline;
      font-size: 0.7rem;

      li {
        height: 60px;
        padding-left: 20px;
        margin: 0;
        border-top: 1px solid $light-pink;
        transition: all 0.3s ease;
        &:hover {
          background-color: $light-pink;
        }
        &.current {
          background-color: $light-pink;
        }
        &.last {
          border-bottom: 1px solid $light-pink;
        }
        a {
          height: 60px;
          line-height: 60px;
          color: $black;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

}
