

.side-panel {
  position: fixed;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow: auto;
  @media screen and (max-width: 1024px) {
    top: 2.5rem;
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 30rem;
    background: linear-gradient(to left, $pink, transparent);
    opacity: 0;
    transition: opacity $transition-speed linear;
    @media screen and (max-width: 1024px) {
      right: 0;
      top: 0;
      bottom: 0;
      min-height: 0;
      background: linear-gradient(to top, $pink, transparent);
    }
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  .panel {
    position: absolute;
    right: -21rem;
    top: 0;
    bottom: 0;
    width: 21rem;
    min-height: 30rem;
    background: white;
    padding: 1rem;
    transition: right $transition-speed ease-in-out;
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      left: 0;
      right: 0;
      top: auto;
      bottom: -21rem;
      width: 100vw;
      min-height: 0;
      height: 21rem;
      transition: bottom $transition-speed ease-in-out;
    }
    @media screen and (max-width: 550px) {
      width: 100vw;
      right: -100vw;
    }
    .controls {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      .button {
        margin: 0;
        line-height: 1.4rem !important;
      }
      .size.button {
        width: 90px;
        padding-right: 30px;
        background: url(../images/bonjourparis/icon_arrow_down.svg) no-repeat 63px 17px;
        background-size: 11px 6px;
        &.open {
          background-image: url(../images/bonjourparis/icon_arrow_up.svg);
        }
      }
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
    .overlay {
      opacity: .2;
      &:hover {
        opacity: .3;
      }
      @media screen and (max-width: 1024px) {
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .panel {
      right: 0;
      @media screen and (max-width: 1024px) {
        bottom: 0;
      }
    }
  }
}

.quick-buy-panel {
  .panel {
    width: 26rem;
    right: -26rem;
  }
  .product {
    padding: 2rem 1rem 0;
    text-align: center;
    .title {
      @include title-serifs();
      margin: 0 auto 1rem;
    }
    .subtitle {
      @include headline();
      text-transform: uppercase;
      margin: 0 auto 1rem;
    }
    img {
      display: block;
      margin: auto;
    }
    .description {
      @include body();
      max-width: 18rem;
      margin: 0 auto 1rem;
      .read-more {
        color: $grey;
        &:hover {
          color: $pink;
        }
      }
    }
  }
  .controls {
    text-align-last: justify;
    .button {
      text-align-last: center;
    }
    .book-in-store.button {
      width: 180px;
    }
    .order-now.button {
      width: 190px;
    }
  }
}

.size-panel {
  .panel {
    width: 26rem;
    right: 0;
    transition: transform $transition-speed ease-in-out;
    transform: translateY(100%);
  }
  &.active .panel {
    transform: translateY(0);
  }
}

.add-to-cart-panel {
  h3 {
    @include body();
    text-transform: none;
    text-align: center;
    line-height: 2rem !important;
    margin: 1rem auto;
  }
  .product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      width: 25rem;
      margin: auto;
      img {
        width: 11.5rem;
        margin: 0 .5rem;
        display: block;
        float: left;
      }
    }
    .infos {
      width: 14rem;
      margin: auto;
      @include body();
      @media screen and (max-width: 1024px) and (min-width: 551px) {
        float: right;
        width: 11.5rem;
        margin: 2rem .5rem 0;
      }
      span {
        display: block;
      }
      .title, .price {
        font-weight: 500;
        text-transform: uppercase;
      }
      .title {
        float: left;
      }
      .price {
        float: right;
      }
      .description {
        clear: both;
      }
      .reference {
        font-size: .6rem;
        color: $light-grey;
      }
      .remove {
        display: none;
        float: right;
        width: 1rem;
        height: 1rem;
        background: url(../images/bonjourparis/icon_close.png) no-repeat center center;
        background-size: 13.5px 14px;
        opacity: .5;
        transition: opacity .1s linear;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  .controls .button {
    width: 48%;
    &:first-of-type {
      margin-right: 2%;
    }
  }
}
