.template-star {
	.photos-slider {
		margin: 1rem 0 3rem;
		.photos {
			height: 20rem;
			position: relative;
			margin-bottom: 1rem;
			overflow: hidden;
			.photo {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 100%;
				top: 0;
				transition: left $transition-speed ease-out;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&.left {
					left: -100%;
				}
				&.active {
					left: 0;
				}
			}
		}
		.dots {
			height: 1rem;
			margin-bottom: 1rem;
			text-align: center;
			font-size: 0;
			.dot {
				display: inline-block;
				width: .75rem;
				height: .6rem;
				margin: .2rem 0;
				padding: .1rem 0;
				opacity: .3;
				transition: opacity $transition-speed linear;
				cursor: pointer;
				&:before {
					display: inline-block;
					content: "";
					width: .4rem;
					height: .4rem;
					border-radius: 50%;
					background: $pink;
				}
				&.active, &:hover {
					opacity: 1;
				}
			}
		}
		.texts {
			width: 50%;
			margin: 0 auto 1rem;
			text-align: center;
			position: relative;
			.text {
				position: absolute;
				left: 0;
				top: 0;
				@include body();
				font-style: italic;
				opacity: 0;
				transition: opacity $transition-speed linear;
				&.active {
					opacity: 1;
					position: static;
				}
			}
		}
	}
	.module {
		margin-bottom: 2rem;
		&:after {
			display: block;
			content: "";
			clear: both;
		}
		.image img {
			width: 100%;
			height: auto;
		}
		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.title {
				@include title-serifs();
				font-size: 1.75rem;
				line-height: 3rem;
				margin-bottom: 1rem;
				@media screen and (max-width: 550px) {
					font-size: 1.5rem;
					line-height: 1.5rem;
					margin-bottom: .5rem;
				}
			}
			p {
				@include body();
			}
			.links {
				a {
					display: inline-block;
					@include body();
					font-size: .8rem;
					line-height: 2rem;
					font-weight: bold;
					color: $grey;
					display: inline-block;
					margin: 0 1rem;
					@media screen and (max-width: 550px) {
						font-weight: 200;
						margin-bottom: .8rem;
					}
				}
			}
		}
	}
	.video.module {
		iframe, video, object {
			width: 100%;
			@media screen and (max-width: 550px) {
				// max-height: 50vh;
				height: auto;
			}
		}
	}
	.image-text.module {
		padding: 0 9.83%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 550px) {
			padding: 0 .5rem;
			flex-direction: column-reverse;
		}
		.image {
			width: 50%;
			height: auto;
			padding: 0 .5rem 0 0;
			@media screen and (max-width: 550px) {
				width: 100%;
				padding: 0 .5rem;
			}
		}
		.text {
			width: 40%;
			margin-left: 10%;
			padding: 0 0 0 .5rem;
			.title strong {
				@include title-serifs();
				font-size: 3.5rem;
				@media screen and (max-width: 550px) {
					font-size: inherit;
				}
			}
			@media screen and (max-width: 550px) {
				width: 100%;
				margin-left: 0;
				padding: 0 .5rem;
			}
		}
	}
	.text-on-image.module {
		margin: 0 9.83% 2rem;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		@media screen and (max-width: 550px) {
			margin: 0 1rem 2rem;
		}
		.text {
			position: static;
			margin: 3rem 50% 3rem 2.5rem;
			background: $white;
			transform: translateX(-.5rem);
			padding: 2rem;
			@media screen and (max-width: 550px) {
				margin: 1.5rem;
				transform: none;
				padding: 1rem;
			}
		}
	}
	.parallax-banner.module {
		.text {
			.title {
				margin-top: 2rem;
				margin-bottom: 0;
				@media screen and (max-width: 550px) {
					margin-top: 1rem;
					margin-bottom: 1rem;
				}
			}
			width: 50%;
			margin: auto;
			@media screen and (max-width: 550px) {
				width: 60%;
			}
		}
	}
	.fondation-content {
		padding: 0 8.33%;
		margin-bottom: 2rem;
		.left {
			float: left;
			width: 40%;
			padding: 0 .5rem;
			blockquote {
				padding: 0;
				margin: 0;
				@include title-serifs();
				font-size: 1.25rem;
				line-height: 1.5rem;
			}
			@media screen and (max-width: 550px) {
				float: none;
				width: 100%;
				margin-bottom: 2rem;
			}
		}
		.right {
			margin-left: 50%;
			padding: 0 .5rem;
			p {
				@include body();
			}
			@media screen and (max-width: 550px) {
				margin-left: 0;
			}
		}
	}
}
