$black: #222;
$grey: #777;
$light-grey: #808080;
$concrete: #FAFAFA;
$white: #fff;
$blue-fb: #34589d;

$lighter-pink: #fff9f9;
$light-pink: #fdf3f3;
$footer-pink: #fcf4f2;
$gradient-pink: #E5C5C9;
$pink: #ffd6d6;

$base-color: #000;
$alt-color: #333;
$bg-color: #FFF;
